
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    width: 40%;
    height: 40%;
}

#start{
    background-color: #ff7900;
}


h2 {
    font-size: 24px;
    color: #007bff;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}


p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
}


input[type="email"], 
input[type="checkbox"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    align-self: center;
}

button:hover {
    background-color: #0056b3;
}


input[type="checkbox"] + label {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    color: #555;
    cursor: pointer;
}

#contact-form,
#email-sent,
#phone-number-section,
#registration-complete,
#consent-form
#phone-verification-section{
    display: none;
}





@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    input[type="email"], button {
        font-size: 14px;
    }
}